{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PracTime</title>
    <link rel="stylesheet" href="{% static 'css/base/home.css' %}" />
    <meta http-equiv="refresh" content="1" />
    <link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"
      href="/css/app-wa-a60ddbceb7292f11c9e430d067b1eb9f.css?vsn=d"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-light.css"
    />
  </head>
  <body>
    {% include '../components/navbar.html' %}
    <div class="container">
      {% include '../components/sidebar.html' %}
      <div class="main">
        <h1 class="hello">Welcome, Gilad 😃</h1>
        <div class="mini-bar">
          <div class="mini-bar-item">
            <i class="fa-regular fa-circle-book-open"></i>
            <div class="right">
              <p class="name">Subjects</p>
              <p class="count">10</p>
            </div>
          </div>
          <div class="mini-bar-item">
            <i class="fa-regular fa-circle-book-open"></i>
            <div class="right">
              <p class="name">Subjects</p>
              <p class="count">10</p>
            </div>
          </div>
          <div class="mini-bar-item">
            <i class="fa-regular fa-circle-book-open"></i>
            <div class="right">
              <p class="name">Subjects</p>
              <p class="count">10</p>
            </div>
          </div>
          <div class="mini-bar-item">
            <i class="fa-regular fa-circle-book-open"></i>
            <div class="right">
              <p class="name">Subjects</p>
              <p class="count">10</p>
            </div>
          </div>
          <div class="mini-bar-item">
            <i class="fa-regular fa-circle-book-open"></i>
            <div class="right">
              <p class="name">Subjects</p>
              <p class="count">10</p>
            </div>
          </div>
        </div>
        <div class="bar">
          {% include './home/calendar.html' %}
          {% include './home/previous_records.html' %}
        </div>
        <div class="bar">
          {% include './home/exam_result.html' %}
          {% include './home/assignments.html' %}
        </div>
      </div>
    </div>
  </body>
</html>
