{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/components/sidebar.css' %}" />
  </head>
  <body>
    <div class="sidebar">
      <a href="" class="item selected"><i class="fa-regular fa-house"></i>Home</a>
      <a href="" class="item"><i class="fa-regular fa-book-open-cover"></i>Subject</a>
      <a href="" class="item"><i class="fa-regular fa-calendar-week"></i>Schedule</a>
      <a href="" class="item"><i class="fa-regular fa-circle-waveform-lines"></i>Live Class</a>
      <a href="" class="item"><i class="fa-regular fa-memo-circle-check"></i>Assignments</a>
      <a href="" class="item"><i class="fa-regular fa-users"></i>Classmats</a>
      <a href="" class="item"><i class="fa-regular fa-files"></i>Exams</a>
      <a href="" class="item"><i class="fa-regular fa-signal-bars"></i>Results</a>
      <a href="" class="item"><i class="fa-regular fa-graduation-cap"></i>Goals</a>
      <a href="" class="item"><i class="fa-regular fa-gear"></i>Settings</a>
    </div>
  </body>
</html>
